.app-container{
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-field {display: flex;
flex-direction: column;

}

.input-field {
  display: flex;
  justify-content: center;
}

.title-text {
  display: flex;
  justify-content: center;

}

.todo-card-list {
  display: flex;
}

.item-card {
height: 100px;
width: 100px;
border: 1px solid green;
border-radius: 5px;
margin : 10px;
}